/* Main */
.main-content {
    width: 100%;
    padding: 20px 20px 15px 20px;
    border-radius: 15px;
}

.top-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.top-container .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.top-container .image-container #myimage {
    width: 100px;
    border-radius: 50%;
    border: 1px solid #222222;
}

.top-container .text-container {
    width: 60%;
}

.top-container .text-container h2 {
    color: #2457be;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.top-container .text-container h3 {
    font-weight: normal;
    color: #3ecf54;
    font-size: 1.1rem;
}

.content-container {
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}


@media screen and (min-width: 600px){
    .main-content {
        max-width: 750px;
        padding: 40px 30px 20px 30px;
    }

    .top-container {
        margin-bottom: 30px;
    }

    .top-container .image-container {
        margin-right: 40px;
    }

    .top-container .image-container #myimage {
        width: 140px;
    }

    .top-container .text-container h2 {
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    .top-container .text-container h3 {
        font-size: 1.4rem;
    }
}